* {
    margin: 0;
    padding: 0;
    outline: 0; /*Deixa as bordas zeradas */
    box-sizing: border-box; /*Adapta as dimensões*/
} 

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #EAEAEA;
}
